.niccage {
	max-width: 80%;
}

.contactButton {
	width: 50%;
}

.navbar {
	margin-bottom: 10px;
}

.homepage-landscape { 
	background-image: url("../img/landscape.jpg");
	background-size: cover;
	min-height: 70vh;
 }